{% extends 'layout.html' %}
{% block title %}My Club{% endblock %}

{% block content %}
    <h2>My Club</h2>
    <p>Welcome to your club management page, where you can manage your club and its members.</p>
    
    <h3>Club Information</h3>
    <!-- Display club info here, like club name, description, etc. -->
    <p>Details of the club will be shown here.</p>

    <h3>Club Members</h3>
    <!-- List of club members can be shown here -->
    <p>List of members will be displayed here.</p>
{% endblock %}
